<template>
  <div id="app">
    <b-nav tabs>
      <b-nav-item :to="'/persons'">People</b-nav-item>
      <b-nav-item :to="'/books'">Books</b-nav-item>
    </b-nav>
    <div class="tab-content">
      <router-view/>
    </div>
    <!--<footer>Cover images from <a href="https://openlibrary.org">Open Library</a></footer>-->
  </div>
</template>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    padding: 10px;
  }

  .tab-content {
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    padding: 10px;
  }

  footer {
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: -1;
  }
</style>
