<template>
  <books-list></books-list>
</template>

<script>
import BooksList from '../components/BooksList'
export default {
  name: 'Books',
  components: {
    BooksList
  }
}
</script>

<style scoped>

</style>
