<template>
  <people-list></people-list>
</template>

<script>
import PeopleList from '../components/PeopleList'

export default {
  name: 'People',
  components: {
    PeopleList
  }
}
</script>

<style scoped>

</style>
