<template>
  <div>
    <div v-if="error">{{error}}</div>
    <div v-else-if="!Array.isArray(books)">Loading</div>
    <b-list-group v-else>
      <b-list-group-item v-for="book in books" :key="book.id">
        <book-details :book="book" />
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
import BookDetails from './BookDetails'
export default {
  name: 'BooksList',
  components: { BookDetails },
  books: undefined,
  error: undefined,
  data () {
    return {
      books: this.books,
      error: this.error
    }
  },
  created () {
    this.retrieveBooks()
  },
  methods: {
    retrieveBooks: function () {
      fetch('/api/books')
        .then(response => {
          if (response.ok) {
            return response.json()
          }
          throw response.statusText
        })
        .then(data => {
          this.books = data
          this.error = undefined
        })
        .catch(error => {
          this.error = error
        })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
