<template>
  <div class="book">
    <div class="cover">
      <img :src="`http://covers.openlibrary.org/b/isbn/${book.isbn}-S.jpg`" :alt="`Cover for ${book.title}`"/>
    </div>
    <div class="details">
      <h4>{{book.title}}</h4>
      <h6>{{book.author}}</h6>
      <h6>{{book.isbn}}</h6>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BookDetails',
  props: ['book']
}
</script>

<style lang="scss" scoped>
  .book {
    display: flex;
    > * {
      flex-shrink: 0;
    }
    > *:not(:first-child) {
      margin-left: 2em;
    }
    > .cover {
      flex-grow: 0;
    }
    > .details {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
</style>
