<template>
  <div>
    <div v-if="error">
      {{error}}
    </div>
    <div v-else-if="!Array.isArray(persons)">
      Loading
    </div>
      <b-list-group flush>
        <b-list-group-item v-for="person in persons" :key="person.id">
          <a v-on:click="togglePerson(person)">{{person.name}}</a>
          <div v-if="person.id === activePersonId">
            <b-card header="Books checked out">
              <div v-if="!Array.isArray(person.books)">
                Loading...
              </div>
              <div v-else-if="person.books.length === 0">
                None.
              </div>
              <b-list-group v-else flush>
                <b-list-group-item  v-for="book in person.books" :key="book.id">
                  <book-details :book="book" />
                </b-list-group-item>
              </b-list-group>
            </b-card>
          </div>
        </b-list-group-item>
      </b-list-group>
  </div>
</template>

<script>
import BookDetails from './BookDetails'
export default {
  name: 'PeopleList',
  components: { BookDetails },
  persons: undefined,
  error: undefined,
  activePersonId: undefined,
  data () {
    return {
      error: this.error,
      persons: this.persons,
      activePersonId: this.activePersonId
    }
  },
  created () {
    this.refreshPeople()
  },
  methods: {
    refreshPeople: function () {
      this.error = undefined

      fetch('/api/persons')
        .then(response => {
          if (response.ok) {
            return response.json()
          }
          throw response.statusText
        })
        .then(data => {
          this.persons = data.map(p => ({ ...p, books: null }))
        })
        .catch(error => {
          this.error = error
        })
    },
    togglePerson: function (person) {
      if (this.activePersonId === person.id) {
        this.activePersonId = undefined
      } else {
        this.activePersonId = person.id

        if (!person.books) {
          this.fetchBooksForPerson(person)
        }
      }
    },

    fetchBooksForPerson: function (person) {
      this.error = undefined

      fetch(`/api/persons/${person.id}/books`)
        .then(response => {
          if (response.ok) {
            return response.json()
          }
          throw response.statusText
        })
        .then(data => {
          this.persons = this.persons.map(p => {
            if (p.id !== person.id) {
              return p // don't modify other persons
            }
            // update person with books
            return { ...p, books: data }
          })
        })
        .catch(error => {
          this.error = error
        })
    }
  }
}
</script>

<style scoped>
  a {
    text-decoration: underline !important;
    cursor: pointer;
  }
</style>
